.box{
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    border: 2px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.login{
    min-width: 1000px;
}